
<mat-card style="background-color: black;">
  <h1 style="text-align: center; color: white;">Tire fitment engine</h1>
</mat-card>

<div style="margin: 30px; text-align: center;">
  <mat-form-field appearance="fill" style="margin-right: 20px">
    <mat-label>Choose Year</mat-label>
    <mat-select>
      <mat-option *ngFor="let year of years$ | async" value="year"
      (click)="getVehicleMake(year)">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-right: 20px">
    <mat-label>Choose Make</mat-label>
    <mat-select>
      <mat-option *ngFor="let make of makes$ | async" value="make"
      (click)="getVehicleModel(selectedYear, make)">
        {{ make }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-right: 20px">
    <mat-label>Choose Model</mat-label>
    <mat-select>
      <mat-option *ngFor="let model of models$ | async" value="model"
      (click)="getVehicleTrim(selectedYear, selectedMake, model)">
        {{ model }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-right: 20px">
    <mat-label>Choose Trim</mat-label>
    <mat-select>
      <mat-option *ngFor="let trim of trims$ | async" value="trim">
        {{ trim }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>



